/* .mensagens{

} */
.mensagens__lista{
    margin-left: 30rem;
    margin-top: 1rem;
}
.mensagens__lista__aviso{
    color: rgb(220, 20, 60);
    font-size: small;
    font-family: arial,sans-serif;
}